<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB71S4xNMecvOyysHYY7fsam2p_Wd6wDZE</string>
	<key>GCM_SENDER_ID</key>
	<string>608122388695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.team3Kakao</string>
	<key>PROJECT_ID</key>
	<string>kkatalk-24148</string>
	<key>STORAGE_BUCKET</key>
	<string>kkatalk-24148.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608122388695:ios:092aaec8891e18dd837092</string>
</dict>
</plist>